.button {
  width: 4rem;
  font-size: 1.4rem;
  margin-right: 1rem;

  border: none;
  background-color: #ffd500;
  color: #333;

  text-align: center;
  font-weight: 500;

  cursor: pointer;
  border-radius: 3px;

  &:disabled {
    cursor: not-allowed;
    filter: brightness(0.9);
  }
}
