.btn {
  width: 9.2rem;
  height: 2.9rem;
  margin: 0 0.5rem;

  font-size: 0.8rem;
  font-weight: 700;
  color: rgb(134, 134, 134);

  background-color: #fff;
  // border: 1px solid rgba(134, 134, 134, 0.26);
  box-shadow: 7px 7px 12px -5px #e1e2e6;
  border: none;
  border-radius: 5px;

  font-size: 0.9rem;
  margin-right: 1rem;
  margin-bottom: 1rem;

  padding-left: 0.7rem;

  cursor: pointer;

  &:focus,
  &:active,
  &.active {
    background-color: #faca05;

    color: #ffff;
  }
}
