.container {
  width: 100%;
  margin-top: 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .filterButtonContainer {
    width: 42rem;
    margin-bottom: 1rem;

    button {
      width: 7rem;
      padding: 1rem;
      display: flex;

      font-size: 0.8rem;
      font-weight: 700;
      color: rgb(134, 134, 134);

      background-color: #fafafa;
      border: none;
      border-radius: 5px;

      font-size: 0.9rem;
      cursor: pointer;

      .icon {
        font-size: 1rem;
        margin-right: 0.5rem;
      }
    }
  }

  .filterButtonContainerOff {
    width: 42rem;
    margin-bottom: 1rem;

    button {
      width: 7rem;
      padding: 1rem;
      display: flex;

      font-size: 0.8rem;
      font-weight: 700;
      color: rgb(134, 134, 134);

      background-color: #fff;
      box-shadow: 7px 7px 12px -5px #e1e2e6;
      border: none;
      border-radius: 5px;

      font-size: 0.9rem;

      cursor: pointer;

      .icon {
        font-size: 1rem;
        margin-right: 0.5rem;
      }
    }
  }

  .filters {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 1rem 0;

    .select {
      width: 14rem;
      height: 2.5rem;

      font-size: 0.8rem;
      font-weight: 700;
      color: rgb(134, 134, 134);

      background-color: #fdfdfd;
      border: 1px solid rgba(134, 134, 134, 0.26);
      border-radius: 5px;

      font-size: 0.9rem;
      padding: 0 1rem;

      cursor: pointer;
      &:focus {
        box-shadow: 7px 7px 14px -5px #c4c5c7;
        outline: none;
      }

      optgroup {
        font-size: 1rem;
      }
    }
  }

  .filterButtons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.ol {
  padding: 1.3rem 1.3rem 1.3rem 4rem;
  background-color: #fff;
  box-shadow: 5px 5px 20px rgba(148, 148, 148, 0.25);
  line-height: 2;
  border-radius: 0 20px 20px 20px;
  border-left: 3px solid #ffe13b;
}
